.search {
  width: 300px;
  background-color: aquamarine;
}
.search_list {
  width: 300px;
  padding: 0;
  border:1px solid gray;
 
}
.hidden {
  display: none;
}
.search_list li {
  list-style: none;
}